.generator-section {
  background-color: darkslategray;
  color: white;
  margin: 50px 0;
  padding: 15px;
  width: 400px;
}
.password-box {
  background-color: blueviolet;
  text-align: center;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.button-box {
  background-color: aqua !important;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.input-range {
  width: -webkit-fill-available;
  margin-top: 5px;
}

.checkboxes {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.checkboxes div {
  display: flex;
  gap: 5px;
  padding-bottom: 25px;
}

.generateBtn {
  width: 100%;
  font-size: 14px;
  padding: 5px 0;
  margin-top: 10px;
  background-color: aquamarine;
}

.button-box {
  padding: 0 5px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  background-color: #2a8b8b;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
